<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.somesh1995.viewpagertester">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/tux"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ScreenSlidePagerActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".WorkshopActivity" />
        <activity android:name=".AboutUsActivity" />
        <activity android:name=".MuktiActivity" />
        <activity android:name=".ContactUsActivity"></activity>
    </application>

</manifest>